@font-face {
	font-family: 'BalooBhaina2-Bold';
	src: url('../fonts/BalooBhaina2-Bold.eot');
	src: local('☺'), url('../fonts/BalooBhaina2-Bold.woff') format('woff'), url('../fonts/BalooBhaina2-Bold.ttf') format('truetype'), url('../fonts/BalooBhaina2-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: local('☺'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot');
	src: local('☺'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('truetype'), url('../fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Verdana400';
	src: url('../fonts/Verdana.eot');
	src: local('☺'), url('../fonts/Verdana.woff') format('woff'), url('../fonts/Verdana.ttf') format('truetype'), url('../fonts/Verdana.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'verdanab700';
	src: url('../fonts/verdanab.eot');
	src: local('☺'), url('../fonts/verdanab.woff') format('woff'), url('../fonts/verdanab.ttf') format('truetype'), url('../fonts/verdanab.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*---------------------------------------------------------------------*/



/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* анимация кнопки сабмит */
/*-------------------------------------------------------*/
@keyframes sub__opacity {
    from {opacity:1;}
    50% {opacity:0;}
    to {opacity:1;}
    }


/*---------------------------------------------------------------------*/


body {
    background-image: url(../images/bg-barilla.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    max-width: 1000px;
    padding: 16px 60px;
    margin: 0 auto;
}

.main{
    margin: 16px 0 0 0;
    border: 2px solid white;
    border-radius: 11.2px;
    background-color: rgba(255, 255, 255, 0.7);
}

.inner{
    background-color: rgba(#F01A18);
}

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'BalooBhaina2-Bold', cursive;    
    font-weight: 700;
    font-style:cursive;
    font-size: 27px;
    text-align: center;
    line-height: 32px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    border-top-left-radius: 11.2px;
    border-top-right-radius: 11.2px;
    color:#ffffff;
    background-color: rgb(201, 14, 14);
    height: 70px;
}

.inner__container{
    padding: 1px;
    margin: 0 auto;
    max-width: 850px;
}

.images{
    vertical-align: middle;
    padding-top: 32px;
    padding-bottom: 7px;  
    max-width: 100%;
}

.img{
    text-align: center;
}

.inner__container__text{
    height: 65px;
    padding: 6px;
}

.cell__headline{
    color: rgb(54, 54, 54);
    font-family: 'Poppins-Regular';
    font-size: 24px;
    font-size: normal;
    font-weight: 400;
    text-align: center;
    line-height: 32px;
}

.genderbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins-Bold';
    font-size: 14px;
    font-size: normal;
    font-weight: 400;
}
.block{
    width: 48%;
}

.cell{
    border-radius: 6.4px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(23, 121, 186);
    display: flex;
    justify-content: center;
    text-align: center;
    color:#1779ba;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-size-adjust: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 7px;
    transition: .5s;
    cursor: pointer;
    position: relative;
}

.input__radio:checked + label .cell{
    color: white;
    background-color: rgba(23,121,186,.75);
    border: 1px solid rgb(1, 42, 86); 
  }

.cell:hover{
    color:rgb(1, 42, 86);
    border: 1px solid rgb(1, 42, 86);
}

.button__radio {
    width: 100%;
    height: 100%;
    transition: .5s;   
}

.input__radio{
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: -999px;    
}

.name__surname__box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    font-family: 'Poppins-Regular';
    font-size: 16px;
}

.namebox__cell{
    width: 48%;
    height: 50px;
    background-color: #fff;
    margin: 16px 0;
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: bottom;   
}

.firstname__input{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 0 0  0 10px;
    vertical-align: bottom; 
    position: absolute;
    top: 10px;  
}

.firstname__label{
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;   
    font-size: 20px;
    opacity: 0.55;
    transition: .5s;
}

.firstname__input:focus~.firstname__label,
.firstname__input:not(:focus):valid~.firstname__label {
  top: 2px;
  font-size: 14px;
  opacity: 0.25;
}

.emailbox{
    margin: 15px 0;
}
    
.surname__cell{
    width: 48%;
    height: 50px;
    background-color: #fff;
    margin: 16px 0;
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: top;   
}

.surname__input{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 0 0  0 10px;
    position: absolute;
    top: 10px;     
}

.surname__label{
    font-family: 'Poppins-Regular';
    font-size: 20px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;   
    opacity: 0.55;
    transition: .5s;
}

.surname__input:focus~.surname__label,
.surname__input:not(:focus):valid~.surname__label {
  top: 2px;
  font-size: 14px;
  opacity: 0.25;
}

.emailbox__cell{
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: 0 50px 20px 0;   
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.email__input{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 0 0  0 10px;
    position: absolute;
    top: 10px;  
}
.email__label{
    font-family: 'Poppins-Regular';
    font-size: 20px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;   
    opacity: 0.55;
    transition: .5s;
}
.email__input:focus~.email__label,
.email__input:not(:focus):valid~.email__label {
  top: 2px;
  font-size: 14px;
  opacity: 0.25;
}

.spacebox__cell{
    width: 726px;
    height: 150px;
    margin: 0 0 16px 0;
}
.options__text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
}

.checkbox__box{
    height: 20px;
    margin: 30px 10px 40px 10px ;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 16px;
    line-height: 16px;
}
.cell__checkbox{
    margin: 20px 0 0 0;
    display: flex;
}
.checkbox__text{
    margin: 0 0 0 30px;
    line-height: 20px;
}
.checkbox__input{
    transform:scale(1.5);
    opacity:0.9;
    margin: 0 30px 0 0 ;
    vertical-align: baseline;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;   
}

.box__submit{
    margin: 50px 0 40px 0;
}

.blink__text {
    opacity: 1;
    animation: sub__opacity  2s infinite ease-in-out;
    font-family: 'Poppins-Bold';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}



.btn__submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 11.6px;
    margin: 100px 0 50px 0;
    background-color: red;
    border-color: red;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    opacity: 1;   
}

.btn__submit:hover{
    background-color: rgb(1, 42, 86);
    border-color: rgb(1, 42, 86);
}

.blink__text{
    display: block;
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    border: 2px solid white;
    border-radius: 11.2px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 0 20px 0;
    height: 120px;
}

.footer__box__text{
    text-align: center;
    padding: 15px 30px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: normal;
    height: 80px;
    line-height: 15px;
    margin: 0 0 15px;
}

.footer__links {
    margin: 15px 0 0 5;
    text-align: center;    
}

.footer__space{
    height: 20px;
}
.reglament__text, .advertiselink, .reglament,
.privat__inform, .contact {
    color:#1779ba;
}


.__error {
    box-shadow: 0 0 25px red;
    /* border-radius: 5px; */
    /* box-shadow: 0 5px 5px -5px red; */
    /* border-bottom: 1px solid red; */
    /* background-color: rgba(250, 0, 0, 0.25); */
}

.__error1 {

    box-shadow: 0 4px 2px -2px red;
}

/* Поппап шрифты
-------------------------------------------------------------------
*/



.reglament__content > h1 {   
    font-family: 'verdanab700';
    font-size: 24px;
    line-height: 32px;
    
}
.reglament__content > h2 {   
    font-family: 'verdanab700';
    font-size: 20px;
    line-height: 32px;
    
}
.reglament__content > p {   
    font-family: 'Verdana400';
    font-size: 16px;
    line-height: 32px;
}
.close__link__reglament {
    font-family: 'Poppins-Bold';
    font-size: 25px;
    line-height: 32px;
}

.privat__polit__content > h1 {   
    font-family: 'verdanab700';
    font-size: 24px;
    line-height: 32px;
    
}
.privat__polit__content > h2 {   
    font-family: 'verdanab700';
    font-size: 20px;
    line-height: 32px;
    
}
.privat__polit__content > p {   
    font-family: 'Verdana400';
    font-size: 16px;
    line-height: 32px;
}
.privat__polit__content > li {   
    font-family: 'Verdana400';
    font-size: 16px;
    line-height: 32px;
}
.privat__polit__content > ul {   
    font-family: 'Verdana400';
    font-size: 16px;
    line-height: 32px;
}
.close__link__privat {
    font-family: 'Poppins-Bold';
    font-size: 25px;
    line-height: 32px;
}

.contact__popap__content > h1 {   
    font-family: 'verdanab700';
    font-size: 24px;
    line-height: 32px;
    
}
.contact__popap__content > h2 {   
    font-family: 'verdanab700';
    font-size: 20px;
    line-height: 32px;
    
}
.contact__popap__content > p {   
    font-family: 'Verdana400';
    font-size: 16px;
    line-height: 32px;
}
.close__link__contact {
    font-family: 'Poppins-Bold';
    font-size: 25px;
    line-height: 32px;
}

/* Поппап 
-------------------------------------------------------------------
*/

.modal__windows{

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: all .3s ease-in-out;
    line-height: 1.5;      
}

.reglament__content,
.contact__popap__content,
.privat__polit__content{
padding: 50px 30px ;
}

.show__modal__windows {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.reglament__popap, .privat__popap, .contact__popap {
    display: none;
    transition: all .3s ease-in-out;
}

.show__popap {
    display: block;
    transition: all .3s ease-in-out;
}




.close__link__reglament:hover{
    background-color: rgb(1, 42, 86);
    border-color: rgb(2, 30, 60);
}
.close__link__privat:hover{
    background-color: rgb(1, 42, 86);
    border-color: rgb(2, 30, 60);
}
.close__link__contact:hover{
    background-color: rgb(1, 42, 86);
    border-color: rgb(2, 30, 60);
}




.reglament__modal__body{
 display: inline-block;
 padding: 30px 15px;
 min-height: 100%;
}
.reglament__content{
    background-color: #fff;
    color:black;
    font-size: 24px;
    min-width: 100%;
}


.close__but {
    width: 100%;
    height: 60px;
    background-color: red;

}
.close__link__reglament,
.close__link__privat,
.close__link__contact{
    display: inline-block; 
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    transition: 0.5s;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
}

.wrapper__contact{
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:flex-start;
}


/* попапы
-------------------------------------------------------------------
*/








/* Адаптив
-------------------------------------------------------------------
*/


@media (max-width: 1050px) {
    .container{
        max-width: 800px;
        padding: 16 30px;

    }
    .inner__container{
        max-width: 700px;
        padding: 20px;

    }
    .images{
        margin: 0 auto;
        text-align: center;
        vertical-align:auto;
        padding-top: 32px;
        padding-bottom: 7px;  
        max-width: 80%;
    }
    .img{
        text-align: center;
    }
}

@media (max-width: 900px) {
    .container{
        max-width: 750px;
        padding: 10 20px;
        margin: 0 auto;
    }
    .inner__container{
        max-width: 650px;
        margin: 0 auto;
        padding: 10px;
        
    
    }
    .images{
        margin: 0 auto;
        text-align: center;
        vertical-align:auto;
        padding-top: 32px;
        padding-bottom: 7px;  
        max-width: 80%;
    }
    .img{
        text-align: center;
    }
    .checkbox__box{
        display: inline-block;
        height: 20px;
        margin: 10px 0 ;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: normal;
        height: 16px;
        line-height: 16px;
    }
    .footer{
        height: 160px;
        justify-content: space-around ;
    }
}


@media (max-width: 810px) {
    .container{
        max-width: 710px;
        padding: 10 20px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 610px;
    
    }

}

@media (max-width: 720px) {
    .container{
        max-width: 620px;
        padding: 10 20px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 520px;
    }
    .inner__container__text {
        height: 80px;
    }
    .footer__box__text{
        
        padding: 5px 10px;
    }
    .footer{
        
    }

}

@media (max-width: 650px) {
    .container{
        max-width: 550px;
        padding: 10px 20px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 520px;
    }
    .footer__box__text{
        
        padding: 5px 10px;
    }
    .footer{
        height: 120px;
    }
    .name__surname__box{
        flex-direction: column;
    }
    .namebox__cell{
        width: 100%; 
    }
    .surname__cell{
        width: 100%;
    }
    .spacebox{
        height: 80px;
    }
    .footer{
        height: 140px;
        justify-content: space-between;
    }
}

@media (max-width: 555px) {    
    .container{
        max-width: 500px;
        padding: 5px 10px;
        margin: 0 auto;
    }                              
    .inner__container{
        margin: 0 auto;
        max-width: 450px;
    }
    .footer{
        
    }
    .footer__space{
        height: 1px;
    }
    .footer__box__text{
        margin: 0 0 0 40px;
        padding: 5px 10px;
    }
    
    .inner__container__text{
        height: 150px;
        padding: 6px;
    }
    .header{
        height: 90px;
    }
}


@media (max-width: 510px) {
    .container{
        max-width: 450px;
        padding: 5 5px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 410px;
    }
    .footer__box__text{
        
        padding: 5px 10px;
    }
    .inner__container__text{
        height: 80px;
        padding: 6px;
    }
    .footer__box__text{
        display: inline-block;
        margin: 0 0 0 20px;
        padding: 1px 5px;
    }
    .footer{
        height: 180px;
        
    }
}

@media (max-width: 460px) {
    .container{
        max-width: 410px;
        padding: 5 5px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 350px;
    }
    .footer__box__text{
        margin: 0 auto;
        padding: 1px 5px;
    }
    .inner__container__text{
        height: 80px;
        padding: 6px;
    }

    .footer{
        height: 200px;
        
    }

}

@media (max-width: 420px) {
    .container{
        max-width: 370px;
        padding: 5 5px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 320px;
    }
    .footer{
        height: 200px;
        
    }
    .footer__space{
        height: 0px;
    }
}

@media (max-width: 375px) {
    .container{
        max-width: 325px;
        padding: 5 5px;
        margin: 0 auto;
    }
    .inner__container{
        margin: 0 auto;
        max-width: 300px;
    }
    .inner__container__text {
        height: 110px;
    }
    .spacebox__cell{
        height: 50px;
    }


}
@media (max-width: 330px) {
    .container{
        max-width: 315px;
        padding: 1px 1px;
        
    }
    .inner__container{
        
        max-width: 300px;
    }
    .spacebox__cell{
        height: 20px;
    }


}

