#menu {
    width: 80%;
    height: 80%;
}

    #menu ul {
        display:block;
        width: 120px;
        height:100px;
        margin:0px;
        padding:0px;
        position:relative;
    }

    #menu ul li a:hover, #menu ul li:hover a{
        background:yellow;
    }
    #menu ul li ul{
        position:absolute;
        top:0px;
        left:100%;
        display:none;
        width:auto;
    }




    #menu ul li:hover ul{display:block;}
                #menu ul li ul li a{
                    padding:5px 20px;
                }
                    #menu ul li ul li a:hover{
                        background:wheat;
                        color:black;}