// body {
//   padding: 50px;
//   font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
//   color: #e80a84;
// }
.month {
  background-color: rgb(211, 205, 7);
  width: 350px;
  font-size: 35px;
}
.year {
  background-color: rgb(211, 205, 7);
  width: 350px;
}

.new {
  color: #3307b8;
  height: 100px;
  background-color: rgb(7, 152, 162);
}
table {
  border-collapse: separate;
}

td,th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #e6e6e6d0;
}
.mainblock {
  margin: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid black;
  height: 750px;
  width: 750px;
  background-color: #e6e6e684;
}
.str {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(95, 237, 8);
  border: 1px solid black;
  font-size: 30px;
}