<!DOCTYPE html>
<html>
  <head>
    <title>CALEND</title>
    <link rel='stylesheet' href='../../styles/style.css'/>
  </head>
  <body>
    <div class="month">
      <h2 class="mon1">MONTH</h2>
      <h2 class="mon2"><%= month %></h2>
      <h2 class="mon3"></h2>
    </div>
    <div class="year">
      <h2 class="year1">YEAR</h2>
      <h2 class="year2"><%= year %></h2>
    </div>
    <div class="mainblock">

    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="../../js/main.js"></script>
  </body>
</html>
